html, body {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    margin: 0; border: 0; padding: 0;
    font-family: "Arial", "Helvetica", sans-serif;
}

div {
    position: absolute;
    padding: 0; border: 0;
    top: 0; left: 0; right: 0; bottom: 0;
}

div#wrapper {
    width: 827px; height: 575px;
    border: 1px solid black;
    margin: auto;
}

canvas {
    position: absolute;
    top: 0; left: 0;
    width: 575px; height: 575px;
    margin: 0; border: 0;
    border-right: 1px solid black;
}

div#side-panel {
    position: absolute;
    top: 0; left: 0;
    width: 250px; height: 575px;
    margin: 0; border: 0; padding: 0;
    margin-left: 577px;
}

div#tower-info {
    position: absolute;
    top: 0; left: 0;
    width: 240px; height: 289px;
    margin: 0; border: 0; padding: 5px;
    border-bottom: 1px solid black;
}

div#send-units {
    position: absolute;
    top: 300px; left: 0;
    width: 240px; height: 265px;
    margin: 0; border: 0; padding: 5px;
}

.menu-wrapper {
    width: 100%; height: 100%;
    position: absolute;
    margin: 0; border: 0; padding: 0;
}

.overlay {
    width: 100%; height: 100%;
    background-color: white;
    opacity: 0.8;
}

.menu {
    position: absolute;
    display: block;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    border: 1px solid black;
    z-index: 1;
    background-color: white;
    opacity: 1;
}

button {
    /* for now, while we decide on the final look and feel of the game... */
    display: block;
    min-height: 40px; min-width: 90px;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    margin-top: 5px;
    border: 1px solid rgb(64, 64, 64);
    border-radius: 20px;
    color: rgb(64, 64, 64);
    background-color: white;
    transition: border-color .2s, background-color .2s, color.2s;
}

button:hover {
    border-color: black;
    color: black;
    transition: border-color .2s, background-color .2s, color.2s;
}

button.menu-button {
    
}

button.menu-button:hover {
    
}

div#main-menu {
    width: 300px; height: 300px;
}

h1 {
    text-align: center;
}

div#level-select {
    width: 300px; height: 500px;
}

div#credits {
    width: 400px; height: 400px;
}

div#pause-menu {
    width: 300px; height: 300px;
}

button.level-select-button {
    display: inline-block;
    margin-left: 5px;
    width: 90px; height: 90px;
}

button.level-select-button:hover {
    
}

button.level-select-button:disabled {
    background-image: url("sprites/lock.svg");
    opacity: 0.5;
}