html, body {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    margin: 0; border: 0; padding: 0;
}

div {
    position: absolute;
    padding: 0; border: 0;
    top: 0; left: 0; right: 0; bottom: 0;
}

div#wrapper {
    width: 827px; height: 575px;
    border: 1px solid black;
    margin: auto;
}

canvas {
    position: absolute;
    top: 0; left: 0;
    width: 575px; height: 575px;
    margin: 0; border: 0;
    border-right: 1px solid black;
}

div#side-panel {
    position: absolute;
    top: 0; left: 0;
    width: 250px; height: 575px;
    margin: 0; border: 0;
    margin-left: 577px;
}

.menu {
    position: absolute;
    min-width: 250px;
    min-height: 250px;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    border: 1px solid black;
    padding: 5px;
}

button {
    min-height: 1.5em;
    min-width: 90px;
}